// Fichier build (créés durant le make)
build

// Fichier exécutable
exec

// Fichier GFXLib
lib

// Plutôt clair celui-là
caca.c

// Fichier de sauvegarde
sauvegarde.bin

// Fichier de configuration de VSCode
/vscode
vscode
/.vscode
.vscode